<div class="row">
  <div class="search">
    <%= search_form_for @search do |f| %>
      <%= f.search_field name, placeholder: t("title.search_name") %>
      <%= f.submit t("btn.search"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
