<% @user ||= current_user %>
<div class="stats">
  <% Settings.relation.each do |key, relation| %>
    <%= link_to relationships_path user_id: @user, type: relation do %>
      <div class="col-md-6">
        <strong id=<%= relation %> class="stat">
          <%= @user.send(relation).count %>
        </strong>
        <b><%= t(relation) %></b>
      </div>
    <% end %>
  <% end %>
</div>
