<% provide :title, t("provide.edit_category") %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h1><%= t "provide.edit_category" %></h1>
    <%= render "category_form" %>
  </div>
</div>
