@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background: #ffffff;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*header*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  background: #0000ff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  border: solid 2px #000066
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.aside {
  height: 100%;
}

.container {
  .jumbotron {
    padding-left: 0 px;
  }
}

/* Users index */

.img-lesson {
  max-height: 60px;
  margin : 0px auto;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
