@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background: #ffffff;
}

.body-user {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*header*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.aside {
  height: 100%;
}

.container {
  .jumbotron {
    padding-left: 0 px;
  }
}

/* Users index */

.img-lesson {
  max-height: 60px;
  margin : 0px auto;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.user-panel {
  padding-top: 80px;
}

.logo {
  min-height: 80px;
}

.main-header {
  background-color: #001866 !important;
}

/* index user */

.right-content {
  padding-left : 5%;
  border-left: 1px solid;
}

.list-category {
  margin-top: 20px;
}

.box {
  border-top: 0px;
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.1);
}
label.btn-block {
  text-align: left;
  position: relative
}

label .btn-label {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  padding: 0 10px;
  background: rgba(0,0,0,.15);
  height: 100%
}

label .glyphicon {
  top: 34%
}
.element-animation1 {
  animation: animationFrames ease .8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease .8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%
}

@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px,0px)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px,0px)
  }

  80% {
  -webkit-transform: translate(-10px,0px)
  }

  100% {
  opacity: 1;
  -webkit-transform: translate(0px,0px)
  }
}

.pagination > li > a, .pagination > li > span {
  border-radius: 50% !important;
  margin: 0 5px;
    background-color: #00ff00;
}

#next, #prev {
  margin-top: 100px;
  border-radius: 50% !important;
}

.timer {
  margin-left: 400px;
  background-color: #ffffcc;
  display: inline;
  border: 1px #000000;
}

/*countdown*/

.countdown {
  border: 1px solid #ccc;
  background-color: #eee
}
.countdown-rtl {
  direction: rtl
}
.countdown-holding span {
  color: #888
}
.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center
}
.countdown-show1 .countdown-section {
  width: 98%
}
.countdown-show2 .countdown-section {
  width: 48%
}
.countdown-show3 .countdown-section {
  width: 32.5%
}
.countdown-show4 .countdown-section {
  width: 24.5%
}
.countdown-show5 .countdown-section {
  width: 19.5%
}
.countdown-show6 .countdown-section {
  width: 16.25%
}
.countdown-show7 .countdown-section {
  width: 14%
}
.countdown-section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center
}
.countdown-amount {
  font-size: 200%
}
.countdown-period {
  display: block
}
.countdown-descr {
  display: block;
  width: 100%
}

.divs {
  margin-top: 40px;
  border: solid 1px #000000;
  box-shadow: 1px 1px 2px 2px;
  background: #ffffff;
  min-height: 180px;
}

.exam_info {
  padding-top: 20px;
}
