<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("framgia-logo-black-1.png",
      class: "img-responsive"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
